<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home" icon="chevron-back-outline"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div style="margin-top: 25%;">
    <p style="text-align: center; padding-right: 2rem; padding-left: 2rem; font-size: 18px;">
      Ingresa tu correo y una contraseña para crear tu cuenta
    </p>
    <div class="ion-padding">
      <ion-item>
        <!--    
          Advertencia de que el campo es obligatorio

        <div *ngIf="this.regForm.controls?.['nombre'].touched && this.regForm.controls?['nombre'].invalid">
          <ion-text *ngIf="errorControl.nombre.errors?.required">
            Este campo es obligatorio*
          </ion-text>
        </div>
        -->
        <ion-input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email"
          placeholder="correo electronico" size="large" class="input" labelPlacement="floating" label="Email">
        </ion-input>

        <ion-icon name="person-outline">
        </ion-icon>
      </ion-item>



      <ion-item>
        <ion-input [(ngModel)]="username" [ngModelOptions]="{standalone: true}" type="text"
          placeholder="Nombre de usuario" size="large" class="input" labelPlacement="floating" label="Username">
        </ion-input>

        <ion-icon name="person-outline">
        </ion-icon>
      </ion-item>


      <ion-item>
        <ion-input [(ngModel)]="contrasena" [ngModelOptions]="{standalone: true}" type="password"
          placeholder="contraseña" size="large" class="input" labelPlacement="floating" label="Contraseña">
        </ion-input>

        <ion-icon name="lock-closed-outline">
        </ion-icon>
      </ion-item>
      <!--
        Advertencia de que el campo es obligatorio y que la contraseña no es valida
      <div *ngIf="this.regForm.controls?.['contrasena'].touched && this.regForm.controls?['contrasena'].invalid">
        <ion-text *ngIf="errorControl.contrasena.errors?.required">
          Este campo es obligatorio*
        </ion-text>
        <ion-text *ngIf="errorControl.contrasena.errors?.pattern">
          La contraseña debe tener:
          un caracter
          una mayuscula
          un numero
          8 caracteres minimo*
        </ion-text>
      </div>
      -->
      <ion-item>
        <ion-input [(ngModel)]="confirmarContrasena" [ngModelOptions]="{standalone: true}" type="password"
          placeholder="Confirma tu contraseña" size="large" class="input" labelPlacement="floating"
          label="Confirmar contraseña">
        </ion-input>

        <ion-icon name="lock-closed-outline">
        </ion-icon>
      </ion-item>

      <ion-item>
        <ion-select placeholder="Region" [(ngModel)]="idRegion" (ionChange)="cargarComunas()">
          <ion-select-option [value]="region.id" *ngFor="let region of regiones">
            {{region.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select placeholder="Comuna">
          <ion-select-option [value]="comuna.id" *ngFor="let comuna of comunas">
            {{comuna.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <div style="display: flex; flex-direction: column; margin-top: 10%;">
        <ion-button shape="round" class="BotonRegistro" size="large" (click)="registro()">
          Registrarse
        </ion-button>
      </div>
    </div>

    <p style="text-align: center; font-size: 16px;">
      Ya eres miembro?
      <a style="color: #FB6D10; font-size: 16px;" [routerLink]="['/login']">
        Ingresa aqui
      </a>
    </p>
  </div>
</ion-content>