ion-header ion-toolbar.custom-header {
    background-color: #86112e;
    }

.input{
    font-size: 300;
}

ion-item{
    --background: #86112e;
    border-radius: 10px;
    margin-bottom: 16px;

}

.BotonRegistro {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    --background: #eb3e1b;
  }