<ion-content [fullscreen]="true">
  <div>
      <ion-header style="text-align: center;"><ion-toolbar class="custom-header"><ion-title>
        Registro De Autos

      </ion-title>
      </ion-toolbar>
    </ion-header>
    </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Marca"></ion-input>
      </ion-item>
            <ion-item>
        <ion-input placeholder="Patente"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Color"></ion-input>
      </ion-item>
    </div>
    <ion-content class="container"><ion-button>
      Registrar
    </ion-button>
  </ion-content>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab>
  </form>
</ion-content>
