<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home" icon="chevron-back-outline"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div style="margin-top: 30%;">
    <div class="spinnerContainer">
      <ng-container *ngIf="loading">
        <ion-spinner name="circles">
        </ion-spinner>
      </ng-container>
    </div>
  </div>


  <ng-container *ngIf="!loading">



    <div class="ion-padding">

      <p style="text-align: center; padding-right: 2rem; padding-left: 2rem; font-size: 18px;">
        Ingresa tu correo y contraseña para acceder a tu cuenta!
      </p>

      <ion-item>
        <ion-input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email"
          placeholder="correo electronico" size="large" class="input" labelPlacement="floating" label="Email">
        </ion-input>

        <ion-icon name="person-outline">
        </ion-icon>
      </ion-item>

      <!--
        Advertencia de que el campo es obligatorio y que el email no es valido

      <div *ngIf="this.loginForm.controls?.['email'].touched && this.regForm.controls?['email'].invalid">
        <ion-text *ngIf="errorControl.email.errors?.required">
          Este campo es obligatorio*
        </ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern">
          Email no valido*
        </ion-text>
      </div>

      <div *ngIf="this.regForm.controls?.['contrasena'].touched && this.regForm.controls?['contrasena'].invalid">
        <ion-text *ngIf="errorControl.contrasena.errors?.required">
          Este campo es obligatorio*
        </ion-text>
      -->

      <ion-item>
        <ion-input [(ngModel)]="contrasena" [ngModelOptions]="{standalone: true}" type="password"
          placeholder="contraseña" size="large" class="input" labelPlacement="floating" label="Contraseña">
        </ion-input>

        <ion-icon name="lock-closed-outline">
        </ion-icon>
      </ion-item>

      <div style="display: flex; flex-direction: column; margin-top: 10%;">
        <ion-button shape="round" class="BotonLogin" (click)="login()" size="large">
          Iniciar Sesión
        </ion-button>
      </div>

      <div style="display: flex; justify-content: center; text-align: center;">
        <a style="color: #e55428; font-size: 16x;" [routerLink]="['/reestablecer-pass']">
          Olvidaste tu contraseña?
        </a>
      </div>
      <p style="text-align: center; font-size: 16px;">
        Nuevo miembro?
        <a style="color: #e55428; font-size: 16px;" [routerLink]="['/registro']">
          Registrate aqui
        </a>
      </p>
    </div>

  </ng-container>
</ion-content>