<ion-content [fullscreen]="true">
  <div style="margin-top: 50%;">
    <div>
      <p style="text-align: center; padding-right: 2rem; padding-left: 2rem;">Ingresa tu correo y contraseña para
        acceder a tu cuenta</p>
    </div>

    <form>
      <div class="ion-padding">
        <ion-item>
          <ion-input [(ngModel)]="email" type="text" placeholder="correo electronico"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="contrasena" type="password" placeholder="contraseña"></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
        <div style="display: flex; flex-direction: column;">
          <ion-button shape="round" class="BotonLogin" [routerLink]="['/login']">Iniciar Sesión</ion-button>
        </div>

      </div>
      <div style="display: flex; justify-content: center; text-align: center;">
        <a style="color: #FB6D10;" [routerLink]="['/reestablecer-pass']">Olvidaste tu contraseña?</a>
      </div>

      <p style="text-align: center;">Nuevo miembro?
        <a style="color: #FB6D10;" [routerLink]="['/registro']">Registrate aqui</a>
      </p>
    </form>
  </div>
</ion-content>