.BotonLogin {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.6rem;
    --background: linear-gradient(to right, #e67527, #e55428);
}

.spinnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ion-spinner {
    width: 200px;
    height: 200px;
    --color: #e55428;
}

