.BotonLogin {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    --background: #eb3e1b;
}

.spinnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ion-spinner {
    width: 200px;
    height: 200px;
    --color: #eb3e1b;
}
