<ion-content [fullscreen]="true">
  <div id="contenedorBienvenida">

    <ion-title style="text-align: center;">
      Encuentra el viaje para ti!
    </ion-title>

    <ion-img src="assets/carLogo.png">
    </ion-img>
  </div>

  <div id="ContenedorBotonesHome">
    <ion-button shape="round" class="BotonesHome" [routerLink]="['/login']" size="large">
      Iniciar Sesión
    </ion-button>

    <ion-button shape="round" class="BotonesHome" [routerLink]="['/registro']" size="large">
      Registrate
    </ion-button>
  </div>
</ion-content>