#ContenedorBotonesHome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.8rem;
}

#contenedorBienvenida {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50%;
}

.BotonesHome {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8rem;
  --background: linear-gradient(to right, #e67527, #e55428);
}


