<ion-content [fullscreen]="true">
  <div style="margin-top: 50%;">
    <p style="text-align: center; padding-right: 2rem; padding-left: 2rem; font-size: 18px;">
      Ingresa tu correo y enviaremos un codigo de recuperación
    </p>

    <div class="ion-padding">
      <ion-item>
        <ion-input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email"
          placeholder="correo electronico" size="large" class="input" labelPlacement="floating" label="Email">
        </ion-input>

        <ion-icon name="person-outline">
        </ion-icon>
      </ion-item>

      <div style="display: flex; flex-direction: column; margin-top: 10%;">
        <ion-button shape="round" class="BotonReestablecerPass" size="large">
          Enviar correo
        </ion-button>
      </div>
    </div>

    <p style="text-align: center; font-size: 16px;">
      No encuentras el codigo?
      <a style="color: #FB6D10; font-size: 16px;">
        Reenviar
      </a>
    </p>
  </div>
</ion-content>