<ion-content [fullscreen]="true">
  <div>
    <ion-header style="text-align: center;"><ion-toolbar class="custom-header"><ion-title>
      Reestablece tu contraseña

    </ion-title>
    </ion-toolbar>
  </ion-header>
  
    <p style="text-align: center;">Ingresa tu correo y enviaremos un codigo de recuperación</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="correo electronico"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
    </div>
    <p style="text-align: center;">No encuentras el codigo?<a style="color: #FB6D10;">Reenviar</a></p>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab>
  </form>
</ion-content>
