

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button color="danger" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div style="margin-top: 55%;">
    <div style="display: flex; flex-direction: column; margin-top: 10%;">
      <ion-button shape="round" class="botonPrincipal" size="large" [routerLink]="['/registro-auto']">
        Iniciar viajes
      </ion-button>
    </div>
    <div style="display: flex; flex-direction: column; margin-top: 10%;">
      <ion-button shape="round" class="botonPrincipal" size="large" [routerLink]="['/tomar-viaje']">
        Buscar viajes
      </ion-button>
    </div>
  </div>
</ion-content>