.move-button {
    display: flex;
    justify-content: center; 
    align-items: center;
    --background: #EB3E1B;
    margin-left: 2rem;
    margin-right:2rem;
    margin-top: 10%;
  }
  .move-buton {
    display: flex;
    justify-content: center; 
    align-items: center;
    --background: #EB3E1B;
    margin-left: 2rem;
    margin-right:2rem;
    margin-top: 10%;
  }