<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home" icon="chevron-back-outline"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div style="margin-top: 50%;">
    <div style="display: flex; flex-direction: column; margin-top: 10%;">
      <ion-button shape="round" class="botonPrincipal" size="large" [routerLink]="['/registro-auto']">
        Iniciar viajes
      </ion-button>
    </div>
    <div style="display: flex; flex-direction: column; margin-top: 10%;">
      <ion-button shape="round" class="botonPrincipal" size="large" [routerLink]="['/tomar-viaje']">
        Buscar viajes
      </ion-button>
    </div>
  </div>
</ion-content>