<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pagina-principal" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-title style="text-align: center;">
    A donde vas?
  </ion-title>

  <ion-item class="ion-padding">
    <ion-input type="text" placeholder="Busca tu destino" size="large" class="input" labelPlacement="floating"
      label="Destino">
    </ion-input>

    <ion-icon name="search-outline">
    </ion-icon>
  </ion-item>
  
  <div class="ion-text-center">
    <ion-button shape="round" class="botonBuscar" size="large">
      Buscar
    </ion-button>
  </div>

</ion-content>