<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/pagina-principal" icon="chevron-back-outline"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-header style="text-align: center;">
    <ion-toolbar>
      <ion-title>
        A donde vas?
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="ion-padding">
    <ion-input type="text" placeholder="Busca tu destino" size="large" class="input" labelPlacement="floating"
      label="Destino">
    </ion-input>

    <ion-icon name="search-outline">
    </ion-icon>
  </ion-item>

  <div style="display: flex; flex-direction: column; margin-top: 5%;">
    <ion-button shape="round" class="botonBuscar" size="large">
      Registrar
    </ion-button>
  </div>
</ion-content>