ion-item{
  --background: #86113E;
  border-radius: 10px;
  margin-bottom: 16px;
  margin-left: 2rem;
  margin-right:2rem;
  margin-top: 10%;

}

.move-button {
    display: flex;
    justify-content: center; 
    align-items: center;
    --background: #EB3E1B;
    margin-left: 2rem;
    margin-right:2rem;
  }

  